<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Search)}" />
    <h1>Tickets check...</h1>
    <span th:if="${allTicketsByLastname.size() == 0}">You have no tickets!</span>
    <table th:if="${allTicketsByLastname.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td><b>ID</b></td>
            <td><b>Type ticket</b></td>
            <td><b>Car make</b></td>
            <td><b>Car model</b></td>
            <td><b>Car Number</b></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${allTicketsByLastname}">
            <td th:text="${ticket.id}"/>
            <td th:text="${ticket.type}"/>
            <td th:text="${ticket.car.make}"/>
            <td th:text="${ticket.car.model}"/>
            <td th:text="${ticket.car.carNumber}"/>
            <td><a class="btn btn-secondary" th:href="@{'/search/details/catalog'}">Catalog</a></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>